@model Quiz.Core.Models.Question

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal" style="margin:5%">
    <h4>Question</h4>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">

        @Html.LabelFor(model => model.QstText, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.QstText, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.QstText, "", new { @class = "text-danger" })
        </div>
    </div>
    
        <div class="form-check" style="margin-top:2%">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" name="isMutiple">
            <label class="form-check-label" for="flexCheckDefault">
                IsMutiple
            </label>
        </div>
   
   
        <label>NumOrder</label>
        
            
            <input type="number" name="NumOrder" value="" class="control-label" style="color:black; width:100%"/>
    

            <div class="form-group">
              
                @Html.LabelFor(model => model.QuizId, "QuizId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("QuizId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.QuizId, "", new { @class = "text-danger" })
                </div>
            </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Enregistrer" class="primary" style="margin-top:2%" />
        </div>
    </div>
</div>
 }


<div>
    @Html.ActionLink("Back to List", "Index")
</div>
